* {
    margin: 0px;
    padding: 0pc;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

header {
    height: 100vh;
    grid-column: 1 / -1;
}

.navigation-cover {
    background-image: url("images/Capture.JPG");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navigation-cover h1 {
    padding: 100px;
    text-align: center;
    letter-spacing: 5px;
    color: white;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.navigation p {
    font-size: x-large;
    font-weight: bold;
}

.navigation .navigation-menu {
    display: flex;
    justify-content: space-between;
    flex-basis: 350px;
}

.navigation-cover .navigation {
    color: white;
}

.navigation .navigation-menu nav {
    display: flex;
    justify-content: space-between;
    flex-basis: 200px;
}


.navigation .navigation-menu nav a {
    text-decoration: none;
    color: white;
    align-self: center;
}

.navigation-cover .navigation .navigation-menu button {
    width: 100px;
    height: 30px;
    background-color: white;
    border: solid;
    border-color: white;
    border-radius: 50px;
    cursor: pointer;
}

.part1-text {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px;
    background-color: #FFFFFF;
}

.part1-text h3 {
    flex-basis: 100px;
    font-weight: 900;
    max-width: 250px;
    font-size: xx-large;
}

.part1-text p {
    color: grey;
    max-width: 380px;
    flex-basis: 100px;
}

.part1-text a {
    border-bottom: solid yellow;
    font-weight: 900;
    border-width: 5px;
    color: black;
    text-decoration: none;
}

.part1-img {
    grid-column: 3 / -1;
    background-image: url("images/egg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.part2-text {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px;
    grid-column: 3/ -1;
    background-color: #FFFFFF;
}

.part2-text h3 {
    font-weight: 900;
    max-width: 300px;
    font-size: xx-large;
    flex-basis: 100px;
}

.part2-text p {
    color: grey;
    max-width: 380px;
    flex-basis: 100px;
}

.part2-text a {
    font-weight: 900;
    border-bottom: solid salmon;
    color: black;
    text-decoration: none;
    border-width: 5px;
}

.part2-img {
    grid-column: 1 / 3;
    background-image: url("images/glass.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.part3-text1 {
    background-image: url("images/cherry.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 400px;
    padding-bottom: 50px;
    grid-column: 1 / 3;
}

.part3-text1 h3 {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: xx-large;
    color: #40513B;
}

.part3-text1 p {
    color: grey;
    max-width: 310px;
    color: #40513B;
    text-align: center;
}

.part3-text2 {
    background-image: url("images/tangerine.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 400px;
    padding-bottom: 50px;
    grid-column: 3 / -1;
}

.part3-text2 h3 {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: xx-large;
    color: #2B3467;
}

.part3-text2 p {
    color: grey;
    max-width: 310px;
    color: #2B3467;
    text-align: center;
}

.part4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 100px;
    grid-column: 1 / -1;
    background-color: #FFFFFF;
}

.part4 .part4-title {
    flex-basis: 50px;
    align-self: center;
    color: #B2B2B2;
    font-weight: 900;
    font-size: large;
    letter-spacing: 3px;
}

.part4 .part4-testimonials {
    flex-basis: 300px;
    display: flex;
    justify-content: space-between;
}

.part4 .part4-testimonials .part4-testimonial1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 25%;
}

.part4 .part4-testimonials .part4-testimonial1 p {
    max-width: 300px;
    color: grey;
    text-align: center;
}

.part4 .part4-testimonials .part4-testimonial2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 25%;
}

.part4 .part4-testimonials .part4-testimonial2 p {
    max-width: 300px;
    max-width: 300px;
    color: grey;
    text-align: center;
}

.part4 .part4-testimonials .part4-testimonial3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 25%;
}

.part4 .part4-testimonials .part4-testimonial3 p {
    max-width: 300px;
    max-width: 300px;
    color: grey;
    text-align: center;
}

.part4 .part4-testimonial1 img {
    border-radius: 100%;
    width: 70px;
}

.part4 .part4-testimonial2 img {
    border-radius: 50%;
    width: 70px;
}

.part4 .part4-testimonial3 img {
    border-radius: 50%;
    width: 70px;
}

.part5-img1 {
    background-image: url("images/p1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}

.part5-img2 {
    background-image: url("images/p2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.part5-img3 {
    background-image: url("images/p3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.part5-img4 {
    background-image: url("images/p4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    grid-column: 1 / -1;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 100px;
    background-color: #7DB9B6;
}

.footer .footer-logo {
    flex-basis: 50px;
    align-self: center;
}

.footer .footer-logo p {
    font-size: x-large;
    font-weight: bold;
    color: #40513B;
}

.footer .footer-navigation {
    flex-basis: 50px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

.footer .footer-navigation a {
    text-decoration: none;
    color: #40513B;
}

.footer .footer-media {
    flex-basis: 50px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-width: 100px;
}

.footer .footer-media a {
    text-decoration: none;
    color: #40513B;
}